Q: Is it possible to validate plain string in the response body? 

I have just a plain string in response body, let's say "pong", which is valid JSON.
However, I had no luck with the following schema:
```
test_name: basic test

stages:
  - name: test get ping

    request:
      url: http://localhost:8888/ping
      method: GET

    response:
      status_code: 200
      body:
        pong
```
The error is `E           tavern.util.exceptions.BadSchemaError: Error at /stages/0/response/body - expected a list or dict`. Is there a solution for such cases?


I don't think a plain string is actually valid json, which is why it's raising this error

Agree, according to https://www.ietf.org/rfc/rfc4627.txt:
```An object structure is represented as a pair of curly brackets  surrounding zero or more name/value pairs (or members).` ``

BTW, thanks for the tool, it's awesome.

I have this same problem. If you read RFC 4627, it's actually a little fuzzy. It says:
The set of tokens includes six
   structural characters, strings, numbers, and three literal names.

But then has a grammar that forces an array or object.

There are newer RFCs for JSON that aim to clear up error, and other what-nots.  In both RFC 8259 and RFC 7159, the grammar clearly allows a JSON response of the basic types as well as object and array.  To be JSON, though, a string needs to be wrapped in double quotes.  That is
"blueberries"
is JSON but:
blueberries
is not valid JSON.